body{
    background-color:rgb(168, 8, 8);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    align-items: center;
  }

h1, h2, label, .bouton{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  justify-content: center;
}

h1{
  font-size:80px;
  text-decoration: underline;
  color:white;
}

h2{
  font-size:50px;
  background-color: white;
  border : solid;
  border-color: white;
  border-radius: 5px;
  width : 20%;
  padding : 3px;

}

.bouton{
  font-size:30px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}
  
#timer{
  color:white;
  font-size:120px;
  text-align:center;
  margin-top: 15%;
  margin-bottom: 10%;
}

svg {
  margin-left: auto;
  margin-right: auto;
  position  :relative;
  width: 70vh;
  height: 70vh;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

circle{
  stroke-dasharray: 155px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}

#parametres{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  display : flex;
  flex-direction:column;
  text-align: center;
  border : solid;
  border-color: black;
  border-radius: 70px;
  border-width: 5px;
  width: 60vh;
  background-color: white;
}

.durees{
  display : flex;
  flex-direction:row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size:larger;
  font-weight: bold;
  gap : 3vh;
}

input{
  margin-right: 45px;
  text-align: right;
}